.aggrid {
  height: 600px;
  font-size: 1rem;
  color: #6e6b7b;
  /*** TABLE BODY HEIGHT - FOOTER HEIGHT ***/
  /*** HEADER TEXT  ***/
  /*** PAGINATION STYLING ***/
  /*** TABLE SCROLLBAR ***/
}
.aggrid .ag-icon-checkbox-checked,
.aggrid .ag-icon-checkbox-indeterminate {
  color: #ce0000 !important;
}
.aggrid .ag-root-wrapper-body {
  min-height: calc(100% - 56px);
}
.aggrid .ag-header-cell-text {
  font-size: 1rem;
  font-family: "Montserrat", Helvetica, Arial, serif;
}
.aggrid .ag-paging-panel {
  display: block !important;
  align-items: center;
  height: 98px;
}
.aggrid .ag-paging-panel .ag-paging-row-summary-panel {
  display: none;
}
.aggrid .ag-paging-panel .ag-paging-page-summary-panel {
  justify-content: center;
  margin-left: 0;
  margin-top: 18px;
}
.aggrid .ag-paging-panel .ag-paging-page-summary-panel [ref=lbCurrent],
.aggrid .ag-paging-panel .ag-paging-page-summary-panel [ref=lbTotal] {
  color: #fff;
  padding: 0.7rem 0.95rem;
  border-radius: 0.5rem;
}
@media (max-width: 575.98px) {
  .aggrid .ag-paging-panel .ag-paging-page-summary-panel [ref=lbCurrent],
.aggrid .ag-paging-panel .ag-paging-page-summary-panel [ref=lbTotal] {
    margin: 0 0.4rem;
  }
}
.aggrid .ag-paging-panel .ag-paging-button {
  background-color: #dae1e7;
  border-radius: 50%;
  padding: 0.5rem 0rem;
  margin: 0 0.5rem;
  color: #6e6b7b !important;
  min-width: 34px;
}
@media (max-width: 575.98px) {
  .aggrid .ag-paging-panel .ag-paging-button {
    margin-left: 0;
    margin-right: 0.4rem;
  }
}
.aggrid .ag-paging-panel .ag-paging-button .ag-icon {
  color: #6e6b7b !important;
  opacity: 1 !important;
}
.aggrid .ag-paging-panel .ag-paging-button.ag-disabled {
  opacity: 0.5 !important;
}
@media (max-width: 575.98px) {
  .aggrid .ag-paging-panel .ag-paging-button:last-child {
    margin-right: 0;
  }
}
.aggrid .ag-paging-panel span[ref=lbCurrent] {
  background-color: #ce0000;
}
.aggrid .ag-paging-panel span[ref=lbTotal] {
  background-color: #dae1e7;
  color: #6e6b7b !important;
}
.aggrid ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.aggrid ::-webkit-scrollbar-thumb {
  background: #dae1e7;
  border-radius: 20px;
}
.aggrid ::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 20px;
}

/*** PAGE FILTER DROPDOWN ***/
.filter-btn {
  padding: 1.2rem !important;
  border-radius: 5rem;
  font-size: 0.95rem;
}
.filter-btn:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  left: 5px;
}

/*** SORTING DROPDOWN WIDTH ***/
.sort-dropdown .dropdown-menu {
  min-width: 4rem;
}
